body{
    background:pink;
    margin: 0;
}
#diancaican .left{
	background: yellow;
    flex: 0 0 29%;
    overflow: scroll;
}
#diancaican .right{
	background: blue;
    overflow: scroll;
}
.floatClassName{
    position: fixed;
    background:#fff;
    width:100%;
    opacity: 0.6;
}
.dishGroupName{
	background:red;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
*::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: red;  
}  
#diancaican{
    display: inline-flex;
    flex-direction: row;
}